* {
    padding: 0;
    margin: 0;
    font-family: 'Cutive', serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-image: url('bg.png'); 
    background-size: 100% 95%; 
    background-repeat: no-repeat;
    overflow: hidden;
}

#stopwatchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startStopButton {
    background-color: #04AA6D;
    color: white;
    padding: 10px 35px;
    font-size: 32px;
    cursor: pointer;
    border: none;
}

#startStopButton:hover {
    background-color: #46a049;
}